* {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    overflow: none;
}

:root {
    --bg-color: #1e1e1e;
    --fg-color: #fff;
    --accent: #ce3635;
}

body {
    background-color: var(--bg-color);
    text-align: center;
    color: var(--fg-color);
    padding-top: 10em;
}

.nav {
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.nav__links ul{
    display: flex;
    justify-content: space-around;
    list-style-type:none;
}
.nav__links li{
    padding: 0 1em;
}

#nav__logo {
    fill: none;
    stroke: var(--accent);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 80.89px;
    height: 70px;
}

.main__container {
    display: grid;
    margin: 0 auto;
    height: 90vh;
}

#main__title {
    font-size: 3em;
    margin-bottom: 0.5em;
}