---
import '../styles/index.css'
---
<nav class="nav">
    <div class="nav__container">
        <a href="index.html">
            <svg id="nav__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 713.42 774.44">
                <g id="Layer_1" data-name="Layer 1">
                    <polyline class="cls-1"
                        points="392.03 148.64 227.85 40.44 40.44 148.64 40.44 365.04 227.85 473.24 392.03 365.04" />
                </g>
                <g id="Layer_2" data-name="Layer 2">
                    <line class="cls-1" x1="485.57" y1="248.28" x2="672.98" y2="349.16" />
                    <line class="cls-1" x1="672.98" y1="572.88" x2="672.98" y2="349.16" />
                    <line class="cls-1" x1="485.57" y1="464.68" x2="485.57" y2="733.99" />
                    <line class="cls-1" x1="485.57" y1="464.68" x2="670.39" y2="572.88" />
                </g>
            </svg>
        </a>
        <div class="nav__links">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li class="nav__button"><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>